mixin scriptsAnalytics(val)
	if val == true
		<!-- Google Tag Manager -->
		script.
			(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer','GTM-PCFPR5');


//- Scripts default
mixin scripts-default
	script.
		var termsConditions = '//static.cinepolis.com/landings/premios-cinepolis-2020/documentos/bases-y-condiciones-premios-cinepolis-2020.html';
	script(src="js/libs.min.js")
	script(src="js/bundle.js")
