mixin footer
	footer.footer
		.footer-content
			a.footer-link.link-bases Bases y Condiciones
			.footer-logos
				span.footer-audi
				span.footer-cinepolis
			a(href="https://static.cinepolis.com/resources/mx/documents/aviso-de-privacidad-cinepolis.pdf" target="_blank" ).footer-link.link-privacy Aviso de Privacidad

