mixin loader
	.loader.is-active
		.loader-content
			.loader-composition
				span.loader-c
					span.loader-c-light
					img(src="/images/content/loader-c.svg")
			span.loader-shadow
			p.loader-copy Cargando...
