mixin slider
  section.slider
    .slider-content.swiper-container
      .swiper-wrapper
        .swiper-slide
          .slide-content
        .swiper-slide
          .slide-content
        .swiper-slide
          .slide-content
      .swiper-pagination